<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
<h2>Welcome to the Apartment Booking System!</h2>
<p>Welcome, <span th:text="${username}">Username</span>!</p>
<p>You have successfully logged in. Enjoy your stay!</p>
<div>
    <a href="/login">Logout</a> <!-- Для выхода из системы, если требуется -->
</div>
</body>
</html>
